# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
desktop.ini

# IDEs e Editores de Código
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Arquivos de Log e Cache
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Arquivos de Variáveis de Ambiente (Segurança!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependências
node_modules/
jspm_packages/
